@import "default";

// Button styles from demo at https://material-ui.com/guides/interoperability/#css-modules
.exampleButton {
    background: $exampleButtonGradient;
    border-radius: 3px;
    border: 0;
    color: white;
    height: 48px;
    padding: 0 30px;
    box-shadow: $exampleButtonBoxShadow;
}