@import "default";

// Button styles from demo at https://material-ui.com/guides/interoperability/#css-modules
.exampleButton {
    background: $exampleButtonGradient;
    border-radius: 3px;
    border: 0;
    color: white;
    height: 48px;
    padding: 0 30px;
    box-shadow: $exampleButtonBoxShadow;
}

.cog {
    fill: gray;
    filter: drop-shadow(0 2px 2px rgba(#000000, .5));

}

.cogRotating {
    animation: cogRotating 1.5s infinite linear;
}

@keyframes cogRotating {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(180deg);
    }
}
